<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <h1>Sample heading</h1>
    <h3>{{ subTitle }}</h3>

    
    <input type="text" id="val">
    <button id="btn">Pobierz</button>
    <div id="show"></div>

    <h3>{{ x }}</h3>
    <h3>{{ y }}</h3>

    <script src="/js/func.js"></script>
</body>
</html>